*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #152677, #4e085f);
    padding: 10px;
}

.nama{
    width: 100%;
    max-width: 330px;
    height: 140px;
    background: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 10px 30px 70px;
    border-radius: 10px;
}

.nama h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nama h2 img{
    width: 35px;
    margin-left: 15px;  
    opacity: 90%; 
}

.pw{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    background: #edeef0;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
}

button{
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #3b19ff;
    color: #fff;
    font-size: 13px;
    border-radius: 25px;
    cursor: pointer;
}


@keyframes fadeIn {  
    from {  
        opacity:0;
    }  
 
    to {  
        opacity:1;  
    }  
 }

 .nama {     
    /* Add animation properties */
    animation: fadeIn 1s ease-in; 
   }



/* index2 */

#hari{
    text-align: center;
    display: flex;
}